body {
    /* The image used */
    background-image: url("https://static.pexels.com/photos/377911/pexels-photo-377911.jpeg");
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Playfair Display', serif;
}

.container,
.container .row {
    height: 100%;
}

div blockquote {
    background-color: #40C4FF;
    margin-top: -15rem;
    padding: 1rem;
}

p.quote,
.author {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.author {
    font-size: 1rem;
}

button.btn {
    background-color: #00B0FF;
    color: white;
    border-radius: unset;
    cursor: pointer;
}
a.twitter-btn {
    background-color: transparent;
    border: 1px solid #00B0FF;
    border-radius: unset;
}
i.fa-twitter {
    color: #00B0FF;
}
button.btn:hover {
    color: #00B0FF;
    background-color: transparent;
    border: 1px solid #00B0FF;
}
.twitter-btn:hover {
    background-color: #00B0FF;
}
.twitter-btn:hover i.fa-twitter {
    color: white;
}